# Project exclude paths
/common-api/target/
/config3344/target/
/config-client3355/target/
/config-client3366/target/
/consul-consumer80/target/
/consul-payment8006/target/
/consumer80/target/
/eureka-server7001/target/
/eureka-server7002/target/
/feign-consumer80/target/
/gateway9527/target/
/hystrix-consumer80/target/
/hystrix-dashboard9001/target/
/hystrix-payment8001/target/
/nacos-config3377/target/
/nacos-consumer80/target/
/nacos-provider-payment9001/target/
/nacos-provider-payment9002/target/
/payment8001/target/
/payment8002/target/
/provider-payment8004/target/
/sentinel8401/target/
/stream-consumer8802/target/
/stream-consumer8803/target/
/stream-provider8801/target/
/zookeeper-consumer80/target/
**/target
.idea
**/**.iml